.ql-toolbar{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.ql-container{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.ql-editor {
    min-height: 18em;
  }

  .article-body{
    background-color: #f8f9fc;
    padding: 12px 0;
  }